<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content="{{description}}"/>
</head>
<body>
    <header>
        <logo>
            <img src="images/logo.png">
            <h1>{{title}}</h1>
        </logo>
    </header>
    <main>
        <form>
            <button type="submit">등록</button>
        </form>
    </main>
    <footer>
    </footer>
</body>
</html>